[Unit]
Description=load geoblock iptables rule
After=network.target
Requires=ipset-persistent.service
After=ipset-persistent.service
After=ufw.service
PartOf=ipset-persistent.service

ConditionFileNotEmpty=/etc/ipset.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/geoblock.sh
ExecStop=iptables -D INPUT -m set --match-set geoblock src -j LOGGING
ExecStop=iptables -D LOGGING -m limit --limit 10/min -j LOG --log-prefix "geoblock: " --log-level 6
ExecStop=iptables -D LOGGING -j DROP
ExecStop=iptables -X LOGGING

[Install]
WantedBy=multi-user.target
