[Unit]
Description=load geoblock iptables rule
After=network.target
After=ipset-persistent.service
After=ufw.service

ConditionFileNotEmpty=/etc/ipset.conf

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/geoblock.sh

[Install]
WantedBy=multi-user.target
